/* Variables */
$color-one: #ffd32a;
$color-two: #ffffff;
$color-three: #1e272e;
$color-four: #D3D3D3;
$font-header: 'Noto Serif', serif;
$font-text: 'Open Sans', sans-serif;
/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  background-color: $color-two;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
}
.btn {
  padding: 20px 40px;
  font-family: $font-text;
  font-size: 15px;
  text-align: center;
  background-color: $color-one;
  color: $color-two;
  min-width: 200px;
  height: 60px;
}
/* SPLASH */
.splash {
    max-width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    position: relative;
}
.navigation {
  padding: 10px 50px;
}
.navigation .name {
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  color: $color-one;
  padding-right: 500px;
}
.navigation ul {
  padding: 0;
  margin: none;
  list-style-type: none;
}
.navigation li {
  display: inline-block;
  margin-left: 25px;
  font-family: $font-text;
}
.navigation a {
  color: $color-two;
  text-decoration: none;
}
.splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $color-two;
  transform: translate(-50%, -50%);
}
.splash-inner h2 {
  font-family: $font-header;
  font-size: 30px;
}
.splash-inner h1 {
  font-family: $font-text;
  font-size: 50px;
}
/* SERVICES */
.services {
  padding-top: 50px;
}
.services h2 {
  font-family: $font-text;
  font-size: 30px;
  color: $color-three;
}
.services h4 {
  font-family: $font-header;
  font-size: 12px;
  color: $color-four;
}
.services .row {
  padding: 40px;
  font-family: $font-text;
}
.service-list a {
  border: 1.5px solid;
  border-color: $color-one;
  color: $color-one;
  padding: 10px 10px;
}
.service-list h3 {
  font-family: $font-text;
  font-size: 15px;
}
.service-list p {
  font-family: $font-header;
  font-size: 12px;
  color: $color-four;
}
/* PORTFOLIO */
.portfolio {
  padding: 30px 70px;
}
.portfolio h2 {
  font-family: $font-text;
  font-size: 30px;
  color: $color-three;
}
.portfolio h4 {
  font-family: $font-header;
  font-size: 12px;
  color: $color-four;
}
.portfolio .row {
  margin-top: 30px;
  padding: 20px;
}
.portfolio .col {
  justify-content: center;
  display: flex;
}
.gallery {
  display: flex;
  flex: 1;
  margin-right: 15px;
  display: inline-block;
  height: 250px;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reference {
  padding: 0;
  text-align: center;
  width: 100%;
  visibility: hidden;
}
.gallery:hover .reference {
  visibility: visible;
}
.btn-one {
  color: $color-two;
  font-family: $font-text;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  height: 50%;
  padding-top: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}
/* FOOTER */
.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 40px 0;
}
.list-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer li {
  display: inline-block;
}
.page-footer .text {
  margin-right: 80px;
}
.page-footer .icon {
  text-align: center;
  font-size: 15px;
  border: 1.5px solid;
  border-color: $color-one;
  color: $color-one;
  padding: 10px 10px;
}
.page-footer .icon i {
  color: $color-one;
}
